<?xml version="1.0" encoding="utf-8"?>


<manifest package="com.google.codelabs.appauth"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tom's Google Plus App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


            <!-- add a new intent-filter to your <activity android:name=".MainActivity"> so AppAuth
            can pass the authorization response to your main activity. -->
            <intent-filter>
                <action android:name="com.google.codelabs.appauth.HANDLE_AUTHORIZATION_RESPONSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <!-- Register RedirectUriReceiverActivity with intent-filters.
        Registers the app to receive the OAuth2 authorization response intent.-->
        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.google.codelabs.appauth"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
